.tableBody {
  width: 100%;
  display: flex;
}

.bodyElements {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bodyElement {
  height: 50px;
  display: flex;
  padding: 15px 50px;
  background: rgb(196, 223, 230, 0.7);
  border: 1px solid rgb(7, 87, 91, 0.4);
  justify-content: space-between;
  align-items: center;
}

.btnRemove {
  background-color: rgba(255, 0, 0, 0.7);
  border: none;
  color: white;
  text-align: center;
  height: 25px;
  padding: 5px 10px;
  border-radius: 5px;
}